*{
    box-sizing: border-box;
}
    img{
        width:250px;
        height:200px;
    }




    .grid-container {
        margin: auto;
        display: grid;
        grid-template-columns: auto auto auto ;
        width: 50%;
        column-gap: 4px;

      }